<%= form_for(siswa) do |f| %>
  <% if siswa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(siswa.errors.count, "error") %> prohibited this siswa from being saved:</h2>

      <ul>
      <% siswa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama %>
    <%= f.text_field :nama %>
  </div>

  <div class="field">
    <%= f.label :kelas %>
    <%= f.text_field :kelas %>
  </div>

  <div class="field">
    <%= f.label :skor_uts %>
    <%= f.number_field :skor_uts %>
  </div>

  <div class="field">
    <%= f.label :skor_uas %>
    <%= f.number_field :skor_uas %>
  </div>

  <div class="field">
    <%= f.label :rata_rata %>
    <%= f.text_field :rata_rata %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $("#siswa_skor_uas").change(function(){
      var_skor_uts = parseInt($("#siswa_skor_uts").val());
      var_skor_uas = parseInt($("#siswa_skor_uas").val());
      $("#siswa_rata_rata").val((var_skor_uts * 0.3) +( var_skor_uas * 0.7));
    });
  });
</script>
