<p id="notice"><%= notice %></p>

<h1>Siswas</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Kelas</th>
      <th>Skor uts</th>
      <th>Skor uas</th>
      <th>Rata rata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @siswas.each do |siswa| %>
      <tr>
        <td><%= siswa.nama %></td>
        <td><%= siswa.kelas %></td>
        <td><%= siswa.skor_uts %></td>
        <td><%= siswa.skor_uas %></td>
        <td><%= siswa.rata_rata %></td>
        <td><%= link_to 'Show', siswa %></td>
        <td><%= link_to 'Edit', edit_siswa_path(siswa) %></td>
        <td><%= link_to 'Destroy', siswa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Siswa', new_siswa_path %>
