<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @siswa.nama %>
</p>

<p>
  <strong>Kelas:</strong>
  <%= @siswa.kelas %>
</p>

<p>
  <strong>Skor uts:</strong>
  <%= @siswa.skor_uts %>
</p>

<p>
  <strong>Skor uas:</strong>
  <%= @siswa.skor_uas %>
</p>

<p>
  <strong>Rata rata:</strong>
  <%= @siswa.rata_rata %>
</p>

<%= link_to 'Edit', edit_siswa_path(@siswa) %> |
<%= link_to 'Back', siswas_path %>

<div id="grafik_siswa" style="height:400px;width:50%;"></div>
<br><br>
<div><canvas id="grafik_siswa2" style="height:500px;width:100%;"></canvas></div>

<script>
  $(function () {
    var graph = {
      title: {
        text: "Grafik Nilai <%= @siswa.nama %>"
      },
      animationEnabled: true,
      data: [
      {
        type: "splineArea",
        dataPoints: [
          { y: parseInt("<%= @siswa.skor_uts %>"), label: "UAS"},
          { y: parseInt("<%= @siswa.skor_uas %>"), label: "UTS"},
          { y: parseInt("<%= @siswa.rata_rata %>"), label: "Rata-rata"}
        ]
      }
      ]
    };
    $("#grafik_siswa").CanvasJSChart(graph);
  });

  $(function() {
    var ctx = document.getElementById("grafik_siswa2");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["UAS", "UTS", "Rata-rata"],
        datasets: [{
          label: '# Nilai ',
          data: [parseInt("<%= @siswa.skor_uts %>"), parseInt("<%= @siswa.skor_uas %>"), parseInt("<%= @siswa.rata_rata %>")],
          backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
          borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        },
        title: {
          display: true,
          text: 'Grafik Nilai <%= @siswa.nama %>',
          fontSize: 24
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function(tooltipItems, data) {
              var ylabel = tooltipItems.yLabel;
              return " # Nilai : " + ylabel;
            }
          }
        }
      }
    });
  });
</script>
